/*<uniquifier>: Use a unique and descriptive class name */
/*<weight>: Use a value from 100 to 900*/

.urbanist-body {
               font-family: "Urbanist", sans-serif;
               font-optical-sizing: auto;
               font-weight: 100;
               font-style: normal;
}
.urbanist-body {
               font-family: "Urbanist", sans-serif;
               font-optical-sizing: auto;
               font-weight: 100;
               font-style: normal;
}
.urbanist-body {
               font-family: "Urbanist", sans-serif;
               font-optical-sizing: auto;
               font-weight: 100;
               font-style: normal;
}
.outer-container {
    width: 80%;
    margin: 0 auto;
    padding: 0px;
}

.main-container, .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.first-two {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.first-div, .second-div {
    flex: 1 1 300px;
    max-width: 300px;
    padding: 20px;
    /*border: 1px solid #ccc;*/
    /*background-color: #f9f9f9;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nested-divs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.nested-div {
    display: flex;
    align-items: center;
    padding: 10px;
    /*border: 1px solid #ddd;*/
    /*background-color: #fff;*/
    width: 100%;
    justify-content: center;
}

.nested-div img {
    margin-right: 10px;
}

.nested-div span {
    font-size: 16px;
}

.top-div {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
}

.milestone-div {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
    background-color: #8a2b3c;
}
.bottom-divs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.bottom-div {
    flex: 1 1 300px;
    max-width: 300px;
    padding: 10px;
    /*border: 1px solid #ccc;*/
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 10%;
    background-color: #8a2b3c;
}

.bottom-div img {
    max-width: 100%;
    height: auto;
}

.bottom-div h2 {
    margin: 10px 0;
}

.bottom-div p {
    margin: 10px 0;
}

/* Media query for larger screens */
@media (min-width: 650px) {
    .first-two {
        flex-wrap: nowrap;
    }

    .first-div, .second-div {
        max-width: none;
    }
}

body {
    font-family: "Urbanist", sans-serif;
    display: block;
    margin: 0;
    background-color: #030202;
    color: #F5F5F5;
}
.div-for-hidden-statistics {
display: flex;
justify-content: center;
align-items: center;

}